@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Quicksand:wght@300..700&display=swap');

header, main, nav, footer {
    text-align: center;
}
/* divider line  */
hr {
    border: 2px dashed rgb(58, 58, 58);
}

body {
    background-color: rgb(35, 35, 35);
    font-family: "Quicksand", sans-serif;
    font-weight: 400;
    color: rgb(199, 199, 199);
} 

nav {
    margin-top: 1em;
}

nav a {
    padding: 15px;
    padding-bottom: 4px;
    font-size: 1.9em;
    text-decoration: none; 
    color: white;
}

nav a:hover {
    border-bottom: 2px rgb(123, 193, 254) solid;
    color:rgb(195, 222, 245);
    font-size: 2em;
    transition: .4s;
}

.current-page {
    font-weight: bold;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 4em;
    padding-left: 2em;
    padding-right: 2em;
    flex-shrink: 1;
}
/* pfp */
figure img {
    border-radius: 100%;
    max-width: 30vw;
    max-height: 30vh;
    margin: 2em 0;
}

footer {
    display: flex;
    justify-content: flex-end;
    font-size: 0.6em;
    color: rgb(86, 104, 125);
}

/* csumb logo */
footer img {
    max-height: 2.3em;
    border-radius: 15%;
    padding: 0.2em 1em;
}

/* footer text */
.copyright-disclaimer {
    text-align: right;
}

table {
    margin: 3em auto;
    border: 5px solid rgb(42, 50, 46);
    border-collapse: collapse;
}

th,td{
    border: 3px solid #2f5046;
}

td {
    padding: 10px;
    font-size: 1.3em;
    text-align: center;
}

td strong {
    color: rgb(161, 225, 175);    
}

#table-header {
    background-color: #2f5046;
}

.table-row {
    background-color: #25463c;
    text-align: center;
}
ul {
    text-align: left;
    margin: 0 auto;
    width: 500px;
    margin-bottom: 3em;
}
.hobby {
    color: rgb(173, 255, 190);
}


