@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Quicksand:wght@300..700&display=swap');
header{
    text-align: center;
}

.current-page {
    font-weight: bold;
}

/* divider line */
hr {
    border: 1px solid rgb(71, 71, 71);
}

/* body */
body {
    background-color: rgb(35, 35, 35);
    font-family: "Quicksand", sans-serif;
    font-weight: 400;
    color: rgb(199, 199, 199);
} 

/* navigation bar */
nav {
    margin-top: 1rem;
    margin-bottom: 1rem;
    text-align: center;
}
nav a {
    color: rgb(161, 213, 237);
    text-decoration: none;
}
/* nav star spacing */
nav span{
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}
nav a:hover {
    border-bottom: 2px rgb(161, 213, 237) dotted;
    color:rgb(195, 222, 245);
    transition: .4s;
}

/* all images */
img {
    display: block;
    border-radius: 0.5rem;
    margin: 0 auto;
    max-width: min(80vw, 30rem);
}

/* os diagram img */
#os_diagram {
    display: block;
    margin: 0 auto 7rem auto;
    max-width: 80vw;
    max-height: 30vh

}

.hr-fade{
    border:none;
    height: 0.1rem;
    background: linear-gradient(90deg,rgba(35, 35, 35, 1) 1%, rgb(99, 99, 99) 50%, rgba(35, 35, 35, 1) 100%);
}
/* home vertical spacing */
.home-h, .home-div * {
    text-align: center;
}
.home-div {
    margin-bottom: 4rem;  
}
.home-h {
    margin-top: 4rem;
}
/* bold text (os goals) */
.home-div strong {
    color: rgb(205, 186, 250);
}

/* footer */
footer {
    display: flex;
    justify-content: flex-end;
    font-size: 0.6em;
    color: rgb(123, 141, 161);
}

/* csumb logo */
footer img {
    max-height: 2.3em;
    border-radius: 15%;
    padding: 0.2em 1em;
}

/* footer text */
.sources {
    flex-grow: 1;
    text-align: left;
}
.sources * {
    color: rgb(121, 121, 121);
}
.copyright-disclaimer {
    text-align: right;
}

/* what is a process spacing */
.process-h, .process-div > p {
    text-align: center;
}
.process-div {
    margin-bottom: 2rem;  
}
.process-h{
    margin-top: 2rem;
}

/* process structure diagram section */
#process-structure-parent {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    margin-bottom: 2rem;
    flex-wrap: wrap;
}
#process-structure-parent figure img {
    max-height: 30vh;
}
#process-structure-parent strong {
    color: rgb(146, 201, 162)
}
#prs-strc-terms {
    display: flex;
    flex-direction: column;
    justify-content: center;
   
}
#prs-strc-terms p {
    background-color: rgba(44, 48, 46, 0.767);
    padding: 1rem;
    margin: 0.5rem;
    border-radius: 0.5rem;

}

/* process attirubutes definition section */

table {
    margin: 0 auto;
    border-collapse: collapse;
}
td:first-child {
    text-align: end;
    font-weight: bold;
    color:rgb(171, 197, 189);
    padding-right: 1rem;
    border-right: 1px solid rgba(168, 168, 168, 0.24);
}
td:last-child {
    text-align:start;
    padding-left: 1rem;
}
td {
    padding: 0.6rem;
}

/* race conditions page */
/* intro section */
.rc-div, .rc-h {
    text-align: center;
}
.rc-h {
    margin-top: 4rem;
}
.rc-div {
    margin-bottom: 4rem;
}
#rc-li{
    text-align: start;
}
#rc-ol {
    text-align: left;
    width: 30rem;
    max-width: 75vw;
    margin: 0 auto;
    list-style-position: inside;
}
#rc-last-div {
    margin-bottom: 4rem;
}

/* mutex-semaphore page */
.ms-h, .ms-div > p {
    text-align: center;
}
.ms-div {
    margin-bottom: 2rem;  
}
.ms-h{
    margin-top: 2rem;
}
/* mutex semaphore table formatting */
tr > td.advantages, tr > td.disadvantages {
    width: 50vw;
    font-weight: normal;
}
tr > td.advantages.th, tr > td.disadvantages.th {
    padding-top: 2.5rem;
    font-weight: bold;
}
tr > td.disadvantages {
    color: rgb(225, 206, 182);
}
/* mutex-sem imgs */
#mutex-png, #sem-png {
    margin-top: 2rem;
}
/* so that things don't become too wide on desktop full-screen */
p, table {
    margin-left: auto;
    margin-right: auto;
    max-width: min(80vw, 45rem);
}