<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Solar System</title>
</head>
<body>
    <h1>The Solar System</h1>
     <nav><a href="/"> Home </a> 
         <a href="/earth"> Earth </a>
         <a href="/mars"> Mars </a>
    </nav>
    <h2>Planet Earth</h2>
     <p><%=   planetEarth.description  %></p>
     <img src="<%=   planetEarth.image  %>">

</body>
</html>
