<!DOCTYPE html>
<html>
<%- include('partials/head.ejs') %>
    <style>
        body {
            background-image:
                linear-gradient(rgba(0, 0, 0, 0.8), rgba(0,0,0, 0.8)),
                url("<%= image %>");
            background-size: cover;
            background-position: center top;
        }
    </style>

    <body>
        <h1>The Solar System</h1>

        <%- include('partials/nav.ejs') %>

            <img src="/img/solar-system.jpg"> <!-- don't include "public" in img path -->
   
            <%- include('partials/footer.ejs') %>
    </body>

</html>