@font-face {
    font-family: visby_round;
    src: url(VisbyRoundCF-Medium.woff2);
}

body {
    padding: 0;
    margin: 0;
    font-family: visby_round, Arial, Helvetica, sans-serif;
    background-color: rgb(49, 71, 66);
    color: whitesmoke;
    text-align: center;
    font-size: 1.7rem;
}

button {
    border-radius: 0.5rem;
    border: none;
    padding: 1rem;
    margin: 1rem 2rem;
    font-family: visby_round;
    font-size: 1.5rem;
    font-weight: bolder;
    color: white;
    background-color: rgb(101, 130, 123);
    border: 5px solid rgb(77, 104, 98);
}

header {
    background-color: rgba(15, 45, 37, 0.235);
    padding: 1rem;
    background-image: 
        linear-gradient(to bottom, rgba(49, 71, 66, 0.8), rgb(49, 71, 66)),
        url('../img/background.jpg');
    margin: 2rem;
    border-radius: 3rem;
    
}

div {
    padding: 1rem 0;
    margin: 0.5rem;
    font-size: 1.7rem;
    font-weight: bold;
}

input {
    padding: 0.5rem;
    border-radius: 0.5rem;
    background-color: rgb(236, 254, 250);
    border: none;
}